@import url('https://fonts.cdnfonts.com/css/instagram-sans-2');

/********************
    Home page / Navigatie / Footer navigatie
********************/
body {
    margin: 0px;
    padding: 0px;
}

.WEB-NAV-Container {
    position: sticky;
    top: 0px;
    z-index: 1;
}

.Main-Nav-Bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    background-image: linear-gradient(to right, #FF7A00, #FF0069, #D300C5, #7638FA );
}

.Main-Nav-Bar, .Nav-Home, .Nav-Opiniestuk, .Nav-Poster {
    border-right: 1px solid #bbbbbb;
}

.Main-Nav-Bar, .Nav-About:last-child {
  border-right: none;
}

.Main-Nav-Bar, .Nav-Home, .Nav-Opiniestuk, .Nav-Poster, .Nav-Visitekaartje, .NHL, .NNL, .NCL, .NAL {
    font-family: 'Instagram Sans Headline', sans-serif;


    display: flex;
    justify-content: space-evenly;
    color: white;
    text-align: center;
    padding: 14px 70px;
    text-decoration: none;
}

.Main-Nav-Bar li:hover:not(.Nav-Home) {
    transform: scale(1.7);
}

.Nav-Home, .Nav-Opiniestuk, .Nav-Poster, .Nav-Visitekaartje{
    transition: transform .5s;
}

.Nav-Home:hover {
    transform: scale(3);
    border: 0px;
}

.Footer-Nav-Bar {
    display: flex;
    justify-content: center;
    align-items: center;
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    background-image: linear-gradient(to right, #FF7A00, #FF0069, #D300C5, #7638FA );
}

/***********************
    Website Home page
***********************/

.Website-Header {
    display: flex;
    align-items: baseline;
    border-bottom: 2px solid black;
    margin: 0px 25%;
}

.WEB-Header-titel {
    font-family: 'Instagram Sans Headline', sans-serif;
    color: black;
}

.WEB-Header-titel2 {
    font-family: 'Instagram Sans Headline', sans-serif;

    color: dimgray;
    margin: 0px 2%;
}

.WEB-Postcontainer {
    margin: 0px 5%;
}

/***********************
    eerste post: vernieuwde propaganda poster met Slogan +
    de 2de/3de/4de/5de posts indelingen
***********************/

.Post1-tekst-container, .Post2-tekst-container, .Post3-tekst-container, .Post4-tekst-container, .Post5-tekst-container, .Post5-tekst-container, .Post6-tekst-container {
    display: flex;
    align-items: center;
    margin: 0px 30%;
}

.Post1-titel, .Post2-titel, .Post3-titel, .Post4-titel, .Post5-titel, .Post6-titel {
    font-family: 'Instagram Sans Headline', sans-serif;

}

.Post1-tekst, .Post2-tekst, .Post3-tekst, .Post4-tekst, .Post5-tekst, .Post6-tekst{
    font-family: 'Instagram Sans Headline', sans-serif;
    margin: 0px 1%;
    color: darkgray;
}

.Post1-tekst2, .Post2-tekst2, .Post3-tekst2, .Post4-tekst2, .Post5-tekst2, .Post6-tekst2{
    font-family: 'Instagram Sans Headline', sans-serif;
    color: blue;
}

.Post1-samenvatting, .Post2-samenvatting, .Post3-samenvatting, .Post4-samenvatting, .Post5-samenvatting {
    font-family: 'Instagram Sans Headline', sans-serif;

    display: flex;
    align-items: baseline;
    margin: 0% 30% 1% 30%;
    border-bottom: 1px solid black;
}

.Post1-uitleg-uvb, .Post2-uitleg-uvb, .Post3-uitleg-uvb, .Post4-uitleg-uvb, .Post5-uitleg-uvb, .Post6-uitleg-uvb {
    display: flex;
    align-items: baseline;


    white-space: nowrap; 
    width: 100%; 
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: normal;

    margin: 2% 0% 1% 0%;
}

.Post1-uitleg-uvb:hover, .Post2-uitleg-uvb:hover, .Post3-uitleg-uvb:hover, .Post4-uitleg-uvb:hover, .Post5-uitleg-uvb:hover, .Post6-uitleg-uvb:hover {
    white-space: normal; /* https://www.w3schools.com/cssref/tryit.php?filename=trycss3_text-overflow_hover */
}

.Post1-titel2, .Post2-titel3, .Post3-titel4, .Post4-titel5, .Post5-titel6, .Post6-titel7 {
    margin-right: 2%;
}

.Post1-uitleg2, .Post2-uitleg2, .Post3-uitleg2, .Post4-uitleg2, .Post5-uitleg2, .Post6-uitleg2 {
    font-family: 'Instagram Sans Headline', sans-serif;
    margin: 0px 1%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Post1-hashtags, .Post2-hashtags, .Post3-hashtags, .Post4-hashtags, .Post5-hashtags {
    font-family: 'Instagram Sans Headline', sans-serif;

    font-size: 12px;
    color:#5370E3;
    margin-left: 2%;
}

.PpV3-container {
    background-color: #000;
    margin: 0% 30%;
}

.Propaganda-posterV3 {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(../Images/PropagandaPosterV3.PNG);
    background-repeat: no-repeat;
    background-attachment: unset;
    background-size: 100% 100%;

    width: 25vw;
    height: 33vw;
    margin: auto;
}

.Slogan-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Slogan-titel, .Slogan-titel2, .Slogan-titel3, .Slogan-titel4 {
    position: relative;

    font-size: 5vw;
    margin: 0px;
    padding: 0px;

    color: white;
    text-shadow: 0px 10px 17px black;
}

.Slogan-titel {
    font-size: 3.5vw;
    transform: translate( -50%, -77%) rotate(6deg);
}

.Slogan-titel2 {
    font-size: 4vw;
    transform: translate( 50%, -120%) rotate(-14deg);
}

.Slogan-titel3 {
    font-size: 3.5vw;
    transform: translate(-62%, -112%) rotate(6deg);
}

.Slogan-titel4 {
    font-size: 3vw;
    transform: translate( 37%, -200%) rotate(-10deg);
}

.Post1-SHOP-NOW, .Post6-SHOP-NOW{
    margin: 0% 30%;
}

.Post1-SHOP-NOW-LINK{
    display: flex;
    justify-content: center;
    align-items: baseline;

    background-color: #000;
    text-decoration: none;
    padding: 2% 2%;
    transition: padding 5s, background-color 2s;
}

.Post1-SHOP-NOW-LINK:hover {
    padding: 3% 3%;
    background-color: #5370E3;
}

.Post1-SHOP-NOW-titel, .Post6-SHOP-NOW-titel{
    font-family: 'Instagram Sans Headline', sans-serif;

    color: white;
    text-decoration: none;
    margin: 0% 2% 0% 0%;
}

.Post1-SHOP-NOW-tekst{
    font-family: 'Instagram Sans Headline', sans-serif;
    color: white;
    margin: 0% 2% 0% 82%;
}

/***********************
    Zesde post: Korte inleiding over mijzelf
***********************/
.Post6-uitleg {
    font-family: 'Instagram Sans Headline', sans-serif;
    width: 12vw;
}

.Post6-uitleg2 {
    font-family: 'Instagram Sans Headline', sans-serif;
    font-size: 18px;
    margin: 2% 0%;
}

.Post6-Overmij {
    display: flex;
    justify-content: center;
    background-color: black;
    margin: 0% 30%;
}

.Overmij-img {
    background-image: url(../Images/HVACMDWEBPImg.jpg);
    background-repeat: no-repeat;
    background-attachment: unset;
    background-size: 100% 100%;
    
    width: 22vw;
    height: 22vw;
}

.Post6-SHOP-NOW-LINK{
    display: flex;
    justify-content: center;
    align-items: baseline;

    background-color: #000;
    text-decoration: none;
    padding: 2% 2%;
    transition: padding 5s, box-shadow 2s; /*https://www.w3schools.com/css/tryit.asp?filename=trycss3_transition2*/
}

.Post6-SHOP-NOW-LINK:hover {
    padding: 3% 3%;
    box-shadow: -15px -10px 8px #FF7A00, 20px -20px 8px #FF0069, -15px 10px 8px #D300C5, 20px 20px 8px #7638FA; /*https://www.w3schools.com/cssref/tryit.php?filename=trycss3_box-shadow*/
}

.Post6-SHOP-NOW-tekst {
    font-family: 'Instagram Sans Headline', sans-serif;
    color: white;
    margin: 0% 2% 0% 75%;
}

.Post6-samenvatting {
    font-family: 'Instagram Sans Headline', sans-serif;

    display: flex;
    align-items: center;
    margin: 0% 30% 1% 30%;
    border-bottom: 1px solid black;
}

.Post6-Meer {
    font-family: 'Instagram Sans Script 400', sans-serif;
    color: #bbbbbb;
}

.Overmij-Meer {
    list-style-type: none;
    width: 6vw;
}

.Om-Meer {
    color: #bbbbbb;
    list-style-type: none;
    text-decoration: none;
}

.Om-Meer:hover {
    color: blue;
    text-decoration: underline;
}

/***********************
    Korte samenvatting van mijn Opiniestuk 
***********************/

.Standpunt-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin: 0px 30% 0px 30%;
    padding: 2%;
    color: black;
    background-color: white;
    border-radius: 25px;
    border: 1px solid black;
}

.Standpunt-titel {
    font-family: 'Instagram Sans Headline', sans-serif;
    width: 111%;
    margin: 0px;
}

.Standpunt-tekst {
    font-family: 'Instagram Sans Headline', sans-serif;
    width: 153%;
    margin: 0px 3%;
}

/***********************
    Datavisualisaties/ Infographics
***********************/

.infographic1, .infographic2, .infographic3 {
    margin: 0px 30%;
}

.Infographic1-img {
    background-image: url(../Images/Infographic-1.PNG);
    background-repeat: no-repeat;
    background-attachment: unset;
    background-size: 100% 100%;
    
    width: 36vw;
    height: 22vw;
}

.Infographic2-img {
    background-image: url(../Images/Infographic2.PNG);
    background-repeat: no-repeat;
    background-attachment: unset;
    background-size: 100% 100%;

    width: 36vw;
    height: 22vw;
}

.Infographic3-img {
    background-image: url(../Images/Infographic3.PNG);
    background-repeat: no-repeat;
    background-attachment: unset;
    background-size: 100% 100%;
    
    width: 36vw;
    height: 22vw;
}

/***********************
    Footer kopje
***********************/

.Footer-Titel {
    font-family: 'Instagram Sans Headline', sans-serif;

    font-size: 10vw;
    color: white;

    margin: 5% 0px 0px 5%;
}

/*********************
    Propaganda Poster: volgende page
*********************/

.Propaganda-poster-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.Propaganda-poster {
    background-image: url(../Images/PropagandaPosterBackground.PNG);
    background-repeat: no-repeat;

    width: 35.9vw;
    height: 55vw;
}

.header-Slogan-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-Slogan-titel {
    display: flex;
    justify-content: center;

    width: 8vw;
    height: 17.5vw;
    margin: 0px;

    font-size: 15vw;
    font-family: "Stalemate", cursive;
    font-weight: 400;
    font-style: normal;
}

.Slogan-tekst {
    margin: 0px;
    font-size: 5vw;
    font-family: "Montez", cursive;
    font-weight: 400;
    font-style: normal;
}

.Slogan-tekst2 {
    position: relative;
    top: 4vw;
    right: 20vw;

    margin: 0px;

    font-size: 8vw;
    font-family: "Montez", cursive;
    font-weight: 400;
    font-style: normal;
}

.PGP-wolk-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.PGP-wolk-tekst {
    font-size: 0.63vw;
    margin: 0px 29%;
}

.PGP-wolk-tekst2 {
    display: flex;
    justify-content: end;
    margin: 1% 34% 0px;
}

.Slogan-footer {
    margin: 44% 0px 0px 75%;
}

.Footer-Slogan-titel {
    color: red;
    font-size: 2vw;
    font-family: "Chango", sans-serif;
    font-weight: 400;
    font-style: normal;

    position: relative;
    top: 5vw;
    right: 2vw;

    margin: 0px;

    transform: rotate(51deg);
}

.SF-tekst3 {
    font-size: 2vw;
    font-family: "Dokdo", system-ui;
    font-weight: 400;
    font-style: normal;

    position: relative;
    top: 2vw;
    right: 1vw;

    margin: 0px;
    height: 2vw;

    transform: rotate(66deg);
}

.SF-tekst4 {
    font-size: 1vw;
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;

    position: relative;
    top: 3vw;
    left: 1vw;

    margin: 0px;

    transform: rotate(51deg);
}

.SF-tekst5 {
    font-size: 1vw;
    font-family: "Plaster", system-ui;
    font-weight: 400;
    font-style: normal;

    position: relative;
    top: 4vw;
    right: 2vw;

    margin: 0px;

    transform: rotate(64deg);
}

.SF-tekst6 {
    font-size: 1vw;
    font-family: "Kirang Haerang", system-ui;
    font-weight: 400;
    font-style: normal;

    position: relative;
    top: 3vw;
    left: 4vw;

    margin: 0px;

    transform: rotate(51deg);
}

.SF-tekst7 {
    font-size: 2vw;
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 400;
    font-style: normal;

    position: relative;
    top: 3.5vw;
    left: 0vw;

    margin: 0px;

    transform: rotate(25deg);
}

/***************
    Opiniestuk: volgnede page
***************/

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.Opiniestuk-pagina-container {
    margin: 0px;
}

.Opiniestuk-pagina {
    margin: 0px 20%;
}

.Opiniestuk-titel {
    padding: 0px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.eerste-alinea-container {
    margin-bottom: 2%;
}

.title-eerste-alinea {
    display: flex;
    justify-content: center;

    margin: 0px;
    padding: 0px;
}

.eerste-alinea {
    margin: 0px 10%;
    text-align: center;
}

.eerste-alinea2 {
    margin: 0px 10%;
    text-align: center;
}

.flexbox-image-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5%;
}

.eerste-alinea2-image1 {
    width: 500px;
    height: 800px;
    background-color: red;
}

.eerste-alinea2-image2 {
    width: 500px;
    height: 800px;
    background-color: rgb(242, 218, 156);
}

.eerste-alinea2-image3 {
    border: 5px solid black;
    background-color: rgb(95, 52, 12);
    padding: 5px;
}

.tweede-alinea-container, .derde-alinea-container, .vierde-alinea-container, .vijfde-alinea-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2%;
}

.tweede-alinea-kopje, .derde-alinea-kopje, .vierde-alinea-kopje, .vijfde-alinea-kopje {
    display: block;
    margin: 0px 0px 0px 3%;
}

.title-tweede-alinea, .title-derde-alinea, .title-vierde-alinea, .title-vijfde-alinea {
    margin: 0px;
}

.tweede-alinea, .derde-alinea, .vierde-alinea, .vijfde-alinea {
    margin: 0px;
}

#KPN {
    border: 5px solid black;
    background-color: red;
    padding: 5px;

    width: 300px;
    height: 400px;
}
#CNN {
    border: 5px solid black;
    background-color: rgb(242, 218, 156);
    padding: 5px;

    width: 300px;
    height: 400px;
}
#Checkbox {
    border: 5px solid black;
    background-color: rgb(95, 52, 12);
    padding: 5px;

    width: 300px;
    height: 400px;
}

.tweede-alinea-image4-container {
    display: block;
    margin: 0px 18% 0 2%;
}

.tweede-alinea-image4 {
    border: 5px solid black;
    background-color: purple;
    padding: 5px;
}

.derde-alinea-image5-container {
    display: block;
    margin: 0px 2% 0 2%;
}

.derde-alinea-image5 {
    border: 5px solid black;
    background-color: green;
    padding: 5px;
}

#research {
    width: 300px;
}

.vierde-alinea-image6-container {
    display: block;
    margin: 0px 18% 0 2%;
}

#spreken {
    max-width: 300px;
    height: 40em;
}

.vierde-alinea-image6 {
    border: 5px solid black;

    max-width: fit-content;
    height: 350;
    background-color: blue;
}

.vijfde-alinea-image7-container {
    display: block;
    margin: 0px 0px 0px 2%;
}

.vijfde-alinea-image7 {
    border: 5px solid black;

    max-width: fit-content;
    height: 400px;
    background-color: grey;
}

.Bronvermelding-container {
    font-style: oblique;
}

.eerste-bron, .tweede-bron, .derde-bron, .vierde-bron {
    margin-bottom: 2%;
}

.eerste-bron-titel, .tweede-bron-titel, .derde-bron-titel, .vierde-bron-titel {
    margin: 0px;
}

.eerste-bron-tekst, .tweede-bron-tekst, .derde-bron-tekst, .vierde-bron-tekst{
    margin: 0px;
}

/******************
    Visitekaarjte: volgnede page
******************/

.card-container {
    display: flex;
    justify-content: center;
    padding: 5%;
    margin: 0px auto;}

.card {
    display: flex;
    justify-content: center;

}

.image-container {
    background-image: url(../Images/VisitekaartjeBackground3.PNG);
    background-repeat: no-repeat;
    width: 57vw;
    height: 37vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.visitekaartje-tekst {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 57vw;
    height: 37vw;
}

.Header-Statement-container {
    margin: 0px;
    width: fit-content;
    position: relative;
    top: 8em;
    left: 1em;
}

.Header-Statement {
    font-family: "Pacifico", cursive;
    text-shadow: 1px 1px black;
    color: white;
    font-size: 0.8vw;
    transform: rotate(-33deg);

    margin: 0px;
}

.statement {
    color: red;
    font-size: 1vw;
}

.bh-text-container {
    position: relative;
    bottom: 4em;
    left: 3em;
}

.bh-text {
    font-family: "Pacifico", cursive;
    color: white;
    font-size: 3vw;
    text-shadow: -1px -1px 0 #000, 2px -1px 0 #000, -1px 2px 0 #000, 2px 2px 0 #000;

    margin: 0px;
    width: max-content;
}

.under-header-phone-container {
    position: relative;
    top: 3em;
    right: 14em;
}

.under-header-phone {
    text-decoration: none;
    font-family: "Pacifico", cursive;
    color: white;
    text-shadow: -1px -1px 0 #000, 2px -1px 0 #000, -1px 2px 0 #000, 2px 2px 0 #000;
    font-size: 1vw;
}

.under-header-phone:hover {
    text-decoration: underline;
}

.under-header-mail-container {
    position: relative;
    top: 3em;
    right: 9em;
}

.under-header-mail {
    text-decoration: none;
    font-family: "Pacifico", cursive;
    color: white;
    text-shadow: -1px -1px 0 #000, 2px -1px 0 #000, -1px 2px 0 #000, 2px 2px 0 #000;
    font-size: 1vw;
}

.under-header-mail:hover {
    text-decoration: underline;
}

/******************
    Visitekaarjte: over mijzelf
******************/

.OM-container {
    display: flex;
    justify-content: center;
}

.OM-card-container {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;

    margin: 0% 30%;
}

.OM-card {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 500px;
    height: 500px;

    border-radius: 15px;
}

.OM-card-img {
    background-image: url(../Images/HVACMDWEBPImg.jpg);
    background-repeat: no-repeat;
    background-attachment: unset;
    background-size: 100% 100%;

    border-radius: 15px;
    
    width: 29vw;
    height: 29vw;
}

.Post6-OM-tekst {
    font-family: 'Instagram Sans Headline', sans-serif;
    color:#bbbbbb;
}

.fo-Copyright-tekst {
    font-family: 'Instagram Sans Headline', sans-serif;
    color:#bbbbbb;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0%;
    padding: 2%;
}